@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* styles for banner */
.banner{
    display: flex;
    /* border: 20px solid red; */
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(0deg, #36310533, rgba(0, 0, 0, 0.973)) , url('../images/Banner Image.png');
    /* filter: contrast(80%); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 25px;
    margin-bottom: 140px;
}
.banner:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
/* styles for h tags */
hgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 320px; */
    margin: 0px auto;
    /* margin-top: 283px; */
}
hgroup .h3-title{
    width: 259px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
hgroup .banner-h1{
    width: 632px;
    height: 190px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* styles for main section */

/* styles for section 01 */
.section01{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 700px;
    margin: 0px auto;
    margin-bottom: 140px;
    
}
.section01:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
/* .section01:hover{
    border: 1px solid rgb(44, 147, 243);
    
} */
.section01-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/New_Year.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 802.9px;
    height: 600px;
}
/* .section01-imgge{
    
} */
hgroup .section01-h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 22px;
}
hgroup .section01-h6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
hgroup .section01-h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* STYLES FOR SECTION 02 */

.section02{
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0px auto;
    /* margin-top: 140px; */
    margin-bottom: 140px;
}
.section02{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section02:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
.section02-text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 80px;
}
.section02-h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.section02-p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.section02-join-now{
    width: 203px;
    /* height: 24px;  */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.section02-floting-image{
    background-image: url('../images/Group 70.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 319.84002px;
    height: 464.66168px;
    padding-right: 60px;
}
/* 
fill: radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%); */

/* STYLES FOR SECTION 03 */
.section03{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 482px;
    border-radius: 15px;
    margin: 0px auto;
    margin-bottom: 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.section03:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.section03-hgroup .section03-h2{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.section03-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    outline: none;
    border: none; 
    margin-top: 48px;
  }
.section03-btn:hover{
    border: 2px solid rgb(110, 219, 116);
    background-color: #0f0;
    border-radius: 17px;
}

  /* styles for section 04 */
.section04{
    display: flex;
    flex-direction: row;
    gap: 100PX;
    width: 1320px;
    height: 482px;
    margin: 0px auto;
    margin-bottom: 140px;
}
.section04:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
.section04-div01{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    justify-content: center;
}
.section04-h3{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 11px;
}
.section04-h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.section04-p{
    width: 393px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.section04-image{ 
    background-image: url('../images/Ellipse 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 364.844px;
    height: 364.844px;
    /* border-radius: 9px;
    border: 15px solid #F00; */
}
.section04-border{
    width: 364.844px;
    height: 364.844px;   
    border: 15px solid #f00;
    border-radius: 100%;
    padding: 44.0px;
}
.section04-border:hover{
    border: 15px solid rgb(0, 119, 255);
    border-radius: 100%;
}
.section04-div03{
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.section04-div03 h1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.section04-div03 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.happy-new-year{
    width: 140px;
    height: 140px;
    background-image: url('../images/happy-new-year.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* .section04-div03 img{
    width: 140px;
    height: 140px;
    margin-top: 36px;
    margin-right: 136px;
} */

/* styels for section 05 */


/* bouns section */
/* for lack of time i'm skiping bonus section.
that was really a nice assingment. (thanks to Pro. Hero)
im learning lot's of new things from this assingment.
and one nice thing is that, I realised how to coding properly from my mistakes of this assingment..
one major mistake was repeating same code again and again.(it   takes too much time)
*/


/* styles for section 06 */
.section06{
    display: flex;
    flex-direction: column;
    width: 1320px;
    /* height: 600px; */
    margin: 0px auto;
    margin-bottom: 140px;

}
.section06:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
.section06-text{
    display: flex;
    flex-direction: column;
}
.section06-text h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 22px;
}
.section06-text h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.section06-text p{
    display: inline-block;
    width: 896px;
    color: #07021199;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}
.section06-img-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 24px;

}
.section06-img-subcontainer01{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.img01{
    background-image: url('../images/Rectangle\ 3.png');
    width: 424px;
    height: 450px;

}
.img01:hover{
    border: 2px solid rgba(0, 236, 138, 0.568);
    border-radius: 17px;
}
.img02{
    background-image: url('../images/Rectangle\ 4.png');
    width: 424px;
    height: 450px;
}
.img02:hover{
    border: 2px solid rgb(86, 132, 185);
    border-radius: 17px;
}
.img03{
    background-image: url('../images/Rectangle\ 5.png');
    width: 424px;
    height: 450px;
}
.img03:hover{
    border: 2px solid rgb(255, 0, 140);
    border-radius: 17px;
}
.section06-img-subcontainer02{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
}

.img04{
    background-image: url('../images/Rectangle\ 6.png');
    width: 424px;
    height: 450px;
}
.img04:hover{
    border: 2px solid rgb(255, 238, 0);
    border-radius: 17px;
}
.img05{
    background-image: url('../images/Rectangle\ 7.png');
    width: 424px;
    height: 450px;
}
.img05:hover{
    border: 2px solid rgb(192, 0, 0);
    border-radius: 17px;
}
.img06{
    background-image: url('../images/Rectangle\ 8.png');
    width: 424px;
    height: 450px;
}
.img06:hover{
    border: 2px solid rgb(25, 0, 255);
    border-radius: 17px;
}


/* syles for section 07 */
.section07{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 140px;
    margin-bottom: 140px;

}
.section07:hover{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 17px;
}
.section07-icon-img{
    display: flex;
    width: 150px;
    height: 150px;
    background-image: url('../images/Group\ 61.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 80px; */
}
.section07-text h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}
.section07-text p{
    display: inline-block;
    width: 896px;
    height: 64px;
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
form{
    display: flex;
    flex-direction: row;
}
button{
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-radius: 0px 56px 56px 0px;
    background: #F00;
    height: 72px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 48px;
    margin-bottom: 80px;
}
button:hover{
    border: 2px solid rgb(211, 231, 193);
    border-radius: 0px 56px 56px 0px;
    background-color: rgb(0, 255, 0);
}

#input{
    display: inline-block;
    align-items: center;
    width: 648px;
    height: 72px;
    /* padding: 16px 32px; */
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    outline: none;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-top: 48px;
    margin-bottom: 80px;
    padding: 0px 30px;
}
#input:hover{
    border: 2px solid rgb(230, 193, 231);
    border-radius: 50px 0px 0px 50px;
    background-color: rgb(216, 245, 216);
}



/* styles for footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #070211;
    max-width:1600px;
    height: 609px;
    margin: 0px auto;
}
.footer-div{
    width: 1320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 70px;
}
footer p, a{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
address{
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.phone-number {
    padding-left: 40px;
    background: url('../icons/Call.png') no-repeat left center;
    background-size: 24px; 
   
  }
  .website{
    padding-left: 40px;
    background: url('../icons/Website.png') no-repeat left center;
    background-size: 24px; 
 
  }
.footer-img-icon{
    width: 1320px;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    padding: 48px;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    
}
.footer-img-icon01{
    background-image: url('../icons/Facebook.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-img-icon02{
    background-image: url('../icons/Instagram.png');
    width:64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-img-icon03{
    background-image: url('../icons/Twitter.png');
    width:64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-img-icon04{
    background-image: url('../icons/Linkedin.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
}
.copyright{
    width: 1320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-bottom: 140px;
}
a{
    text-decoration: none;
}
